
h1 {
    font-size: 64px;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 18px;
}
.impressum {
    display: flex;
    flex-direction: column; 
    max-width: 800px;       
    margin: 50px auto;     
    text-align: center;    
    padding: 0 20px;        
    gap: 15px;          
}


.impressum strong {
    font-size: 1.1em;
    display: block;
    margin-bottom: 5px;
}