* {
    margin: 0;
    padding: 0;
    font-family: Raleway-Regular;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 24px;
}


/* Header Site */

.hamburger .line {
    width: 45px;
    height: 5px;
    background-color: #2f2f2f;
    display: none;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-menu.is-active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-menu.is-active .line:nth-child(2) {
    width: 0px;
}

#hamburger-menu.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

#hamburger-menu.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}

#hamburger-menu.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}

.header-site {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
    box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.5);
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.nav-list {
    display: flex;
    gap: 8px;
}

.header-nav li,
a {
    font-size: 20px;
    padding: 8px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header-nav a:hover {
    cursor: pointer;
    color: #008000;
    border-bottom: #008000 solid 4px;
}

.header-nav a.active {
    color: #008000;
    border-bottom: #008000 solid 4px;
}

.nav-mobile {
    display: none;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-list a.dropdown:hover {
    border-bottom: 0 !important;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dropdown-content a:hover {
    text-decoration: underline;
    border-bottom: 0;
}


/* conten site */

main {
    margin-top: 60px;
}

.main-recipe-day {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 32px 0 32px;
}

.main-recipe-day h1 {
    font-size: 36px;
    margin-bottom: 32px;
    text-align: center;
}

.main-day-recipe-txt-btn {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-day-recipe-txt-btn p {
    font-size: 16px;
}

.main-recipe-day img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-recipe-day button {
    width: 100%;
}


/* content Suggestion */

.suggestion {
    background-color: #6666661c;
    padding: 16px 32px;
    margin-top: 32px;
}

.suggestion h2 {
    font-size: 30px;
    margin: 16px 0;
    text-align: center;
}

.suggestion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card img {
    height: 250px;
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
}


/* content Tipp */

.tipp {
    padding: 0 32px 0 32px;
}

.tipp h2 {
    font-size: 30px;
    text-align: center;
    margin: 32px 0;
}

.tipp p {
    font-size: 16px;
    text-align: center;
}

.tipp-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.tipp-content img {
    height: 250px;
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
}

@media (min-width: 767px) {
    .quick-links a,
    .quick-links span {
        visibility: visible !important;
    }
}

@media (min-width: 1280px) and (max-width: 1920px) {
    .main-recipe-day {
        flex-direction: row;
        padding: 0 160px 0 160px;
    }
    .main-recipe-day h1 {
        font-size: 60px;
        text-align: left;
    }
    .main-recipe-day p {
        font-size: 30px;
    }
    .main-day-recipe-txt-btn {
        max-width: 900px;
        gap: 32px;
    }
    .main-recipe-day button {
        width: 30%;
    }
    .suggestion {
        padding: 32px 160px 32px 160px;
    }
    .suggestion h2 {
        font-size: 36px;
    }
    .suggestion-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .card img {
        height: 300px;
        width: 300px;
    }
    .card p {
        font-size: 32px;
    }
    .tipp {
        padding: 0 160px 0 160px;
    }
    .tipp h2 {
        font-size: 36px;
    }
    .tipp-content {
        flex-direction: row;
        align-items: flex-start;
    }
    .tipp-content p {
        font-size: 30px;
        text-align: left;
    }
    .tipp-content img {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 1921px) {
    .main-recipe-day {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    .suggestion {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    .tipp {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    .main-recipe-day {
        flex-direction: row;
    }
    .main-recipe-day h1 {
        font-size: 60px;
        text-align: left;
    }
    .main-recipe-day p {
        font-size: 30px;
    }
    .main-day-recipe-txt-btn {
        max-width: 900px;
        gap: 32px;
    }
    .main-recipe-day button {
        width: 30%;
    }
    .suggestion h2 {
        font-size: 36px;
    }
    .suggestion-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .card img {
        height: 300px;
        width: 300px;
    }
    .card p {
        font-size: 32px;
    }
    .tipp h2 {
        font-size: 36px;
    }
    .tipp-content {
        flex-direction: row;
        align-items: flex-start;
    }
    .tipp-content p {
        font-size: 30px;
        text-align: left;
    }
    .tipp-content img {
        width: 300px;
        height: 300px;
    }
}


/* footer site */

footer {
    background: #2f2f2f;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px 0px 160px;
}

.footer_img_1 {
    filter: invert(1);
}

.footer_img_2 {
    display: flex;
    flex-direction: row;
}

.footer_img_2 img {
    height: 48px;
    width: auto;
    margin-left: 32px;
}

.footer_img_2 img:hover {
    filter: drop-shadow(0px 0px 8px #00b600);
    cursor: pointer;
}

.quick-links a,
.quick-links span {
    visibility: hidden;
    color: white;
    font-size: 1px;
}

.quick-links a:hover {
    cursor: pointer;
    color: #00b600;
}

button {
    cursor: pointer;
    border: none;
    background: #008000;
    color: #FFF;
    padding: 16px;
    font-size: 24px;
}

button:hover {
    background: #019b01;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

button a {
    color: #FFF;
}

.d-none {
    display: none;
}


/* Mobile-Version */

@media(max-width: 767px) and (min-width: 320px) {
    footer {
        height: 180px !important;
        padding: 0px 32px 0px 32px;
    }
    .footer_img_1 img {
        height: 32px;
        width: auto;
    }
    .footer_img_2 img {
        height: 16px;
        width: auto;
        margin-left: 8px;
    }
    .header-brand-logo {
        height: 45px;
    }
    .header-site {
        padding-left: 32px;
        padding-right: 32px;
    }
    .header-nav {
        align-items: center;
    }
    .nav-list {
        display: none;
    }
    .hamburger .line {
        display: block;
    }
    .nav-mobile-list ul {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding-left: 16px;
        padding-top: 8px;
    }
    .nav-mobile {
        position: absolute;
        right: 0;
        top: 150px;
        width: 100%;
        background-color: white;
        display: block;
        z-index: 1;
    }
}


/* Tablet-Version */

@media(max-width: 1280px) and (min-width: 768px) {
    footer {
        height: 180px !important;
        padding: 0px 32px 0px 32px;
    }
    .footer_img_1 img {
        height: 48px;
        width: auto;
    }
    .footer_img_2 img {
        height: 32px;
        width: auto;
        margin-left: 16px;
    }
    .header-brand-logo {
        height: 48px;
    }
    .header-site {
        padding-left: 32px;
        padding-right: 32px;
    }
    .header-nav a {
        font-size: 19px;
    }
    .nav-mobile {
        display: none;
    }
}


/* Ultrawide-Version */

@media(max-width: 3440px) and (min-width: 1921px) {
    .header-site {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    footer {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    .nav-mobile {
        display: none;
    }
}


/* font */

@font-face {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Raleway-Regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Raleway-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Raleway-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Raleway-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Raleway-Regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}