* {
    margin: 0;
    padding: 0;
    font-family: Raleway-Regular;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 24px;
}


/* Header Site */

.header-site {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
    box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.5);
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.header-nav ul {
    display: flex;
    gap: 8px;
}

.header-nav li,
a {
    font-size: 24px;
    padding: 8px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header-nav a:hover {
    cursor: pointer;
    color: #008000;
    border-bottom: #008000 solid 4px;
}

.header-nav a.active {
    color: #008000;
    border-bottom: #008000 solid 4px;
}

.dropdown-menu:hover {}

.dropdown-list {
    display: none;
}

footer {
    background: #2f2f2f;
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px 0px 160px;
}

.footer_img_1 {
    filter: invert(1);
}

.footer_img_2 {
    display: flex;
    flex-direction: row;
}

.footer_img_2 img {
    height: 48px;
    width: auto;
    margin-left: 32px;
}

.footer_img_2 img:hover {
    filter: drop-shadow(0px 0px 8px #00b600);
    cursor: pointer;
}


/* Mobile-Version */

@media(max-width: 767px) and (min-width: 320px) {
    footer {
        height: 180px !important;
        padding: 0px 32px 0px 32px;
    }
    .footer_img_1 img {
        height: 32px;
        width: auto;
    }
    .footer_img_2 img {
        height: 16px;
        width: auto;
        margin-left: 8px;
    }
    .header-brand-logo {
        height: 32px;
    }
    .header-site {
        padding-left: 8px;
        padding-right: 8px;
    }
    .header-nav a {
        font-size: 12px;
    }
}


/* Tablet-Version */

@media(max-width: 1280px) and (min-width: 768px) {
    footer {
        height: 180px !important;
        padding: 0px 32px 0px 32px;
    }
    .footer_img_1 img {
        height: 48px;
        width: auto;
    }
    .footer_img_2 img {
        height: 32px;
        width: auto;
        margin-left: 16px;
    }
    .header-brand-logo {
        height: 48px;
    }
    .header-site {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header-nav a {
        font-size: 19px;
    }
}


/* Ultrawide-Version */

@media(max-width: 3440px) and (min-width: 1921px) {
    .header-site {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    footer {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
}


/* das am besten immer unten im file lassen */

@font-face {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Raleway-Regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Raleway-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Raleway-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Raleway-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Raleway-Regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}