span {
    font-size: 14px;
    text-align: left;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-align: center;
}

.content {
    padding-left: 8px;
    padding-right: 8px;
}

.content-head {
    padding: 16px 0;
}

.header-img {
    padding: 8px 0;
}

.header-img img {
    width: 300px;
    height: 180px;
    object-fit: cover;
}

.batches {
    list-style: none;
    display: flex;
    gap: 16px;
}

.batches li {
    background-color: #6666661c;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 4px;
}

.icon-time {
    height: 12px;
    width: 12px;
}

.icon-brain {
    height: 12px;
    width: 12px;
}

.icon-calender {
    height: 12px;
    width: 12px;
}

.ingridients {
    display: flex;
    flex-direction: column;
}

.ingridients div {
    display: flex;
}

.ingridients div input {
    flex-grow: 1;
}

.ingridients div button {
    flex-grow: 2;
    font-size: 16px;
    padding: 8px 16px;
}

table {
    width: 100%;
    padding: 4px 16px;
}

.ingridients table tr td:first-of-type span::before {
    content: attr(data-ingridient-amount);
}