.content {
    padding-left: 8px;
    padding-right: 8px;
}

.content-head {
    padding: 16px 0;
}

h2 {
    font-size: 32px;
    text-align: center;
}

.header-img {
    padding: 8px 0;
}

.header-img img {
    width: 300px;
    height: 180px;
    object-fit: cover;
}

.batches {
    list-style: none;
    display: flex;
}

.ingridients table tr td:first-of-type span::before {
    content: attr(data-ingridient-amount);
}