section {
    margin-top: 60px;
    padding: 0px 160px 0px 160px;
}

.section-header {
    display: flex;
    flex-direction: column;
}

.section-header img {
    max-width: 100%;
    border-radius: 8px;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

.meta-info {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.meta-info-itme {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #6666661c;
    height: 12px;
    padding: 8px;
    border-radius: 8px;
}

.meta-info-itme img {
    height: 16px;
    width: auto;
}

.rechner-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rechner-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px 0px 0px 12px;
    background: #FFF;
    margin-left: 16px;
    font-size: 24px;
}

button {
    padding: 11px;
}

.content-table {
    display: flex;
}

table {
    width: 100%;
    font-size: 24px;
    display: flex;
    margin-top: 24px;
}

tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

th {
    display: flex;
    justify-content: flex-start;
}

td:nth-child(even) {
    background: #6666661c;
    border-radius: 12px;
}

tr {
    display: flex;
    flex-direction: column;
}

td {
    display: flex;
    padding: 16px 50px 16px 50px;
}

.content-info {
    margin-top: 32px;
}

.section-footer {
    margin-bottom: 60px;
}

.section-footer h3 {
    margin-top: 40px;
    margin-bottom: 32px;
}

.section-footer img {
    height: 100px;
    border-radius: 50%
}

.img_txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

/* Mobile-Version */

@media(max-width: 767px) and (min-width: 320px) {
    section {
        margin-top: 30px;
        padding: 0px 32px 0px 32px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .meta-info-itme {
        height: 6px;
        font-size: 10px;
    }

    .meta-info-itme img {
        height: 10px;
    }

    .rechner-input input {
        padding: 5px;
        margin-left: 8px;
        font-size: 12px;
    }

    button {
        padding: 8px;
        font-size: 8px;
    }

    .section-footer img {
        height: 50px;
    }
}

/* Tablet-Version */

@media(max-width: 1280px) and (min-width: 768px) {
    section {
        margin-top: 30px;
        padding: 0px 32px 0px 32px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 24px;
    }

    button {
        padding: 16px;
        font-size: 16px;
    }

    .section-footer img {
        height: 75px;
    }
}

/* Ultrawide-Version */

@media(max-width: 3440px) and (min-width: 1921px) {
    section {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
}