span {
    font-size: 16px;
    text-align: left;
}

p {
    font-size: 16px;
    padding-top: 8px;
}

h2 {
    font-size: 32px;
    text-align: center;
    padding: 8px;
}

h3 {
    font-size: 28px;
    text-align: center;
    padding-top: 32px;
}

h4 {
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
}

.content {
    padding-left: 32px;
    padding-right: 32px;
}

.content-head {
    padding: 16px 0;
}

.header-img {
    padding: 8px 0;
}

.header-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.batches {
    padding: 8px 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.batches span {
    font-size: 10px;
}

.batches li {
    background-color: #6666661c;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 4px;
}

.icon-time {
    height: 12px;
    width: 12px;
}

.icon-brain {
    height: 12px;
    width: 12px;
}

.icon-calender {
    height: 12px;
    width: 12px;
}

.ingridients {
    display: flex;
    flex-direction: column;
}

.ingridients div {
    display: flex;
}

.ingridients div input {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
}

.ingridients div button {
    flex-grow: 2;
    font-size: 16px;
    padding: 8px 16px;
}

table {
    width: 100%;
    margin-top: 16px;
    border-spacing: 0 8px;
    border-collapse: collapse;
}

table td {
    padding: 8px 16px;
}

table tr td:first-child {
    border-radius: 10px 0 0 10px;
}

table tr td:last-child {
    border-radius: 0 10px 10px 0;
}

table tr:nth-child(even) {
    background-color: rgb(218, 211, 211);
}

.ingridients table tr td:first-of-type span::before {
    content: attr(data-ingridient-amount);
}


/* Preparation Section */

.preparation p {
    text-align: center;
}

.preparation h4 {
    padding-top: 8px;
    border-top: 1px solid rgb(218, 211, 211);
}


/* Create by Section */

.create-by {
    padding: 16px 0;
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
}

.author span {
    font-size: 18px;
}

.author img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

@media (min-width: 767px) {
    h2 {
        font-size: 38px;
        padding: 16px;
    }
    h3 {
        font-size: 34px;
    }
    h4 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }
    .batches {
        padding: 16px 0;
    }
    .batches span {
        font-size: 14px;
    }
    .ingridients div input {
        flex-grow: 0;
        font-size: 20px;
    }
    .ingridients div button {
        flex-grow: 0;
        font-size: 20px;
    }
    .preparation p {
        text-align: left;
    }
    .author {
        flex-direction: row;
        justify-content: flex-start;
    }
    .author span {
        font-size: 24px;
    }
    .author img {
        height: 150px;
        width: 150px;
    }
    .create-by h4 {
        text-align: left;
    }
    .icon-time {
        height: 15px;
        width: 15px;
    }
    .icon-brain {
        height: 15px;
        width: 15px;
    }
    .icon-calender {
        height: 15px;
        width: 15px;
    }
}

@media (min-width: 1280px) {
    .content {
        padding-left: 160px;
        padding-right: 160px;
    }
    h2 {
        font-size: 46px;
        padding: 32px;
    }
    h3 {
        font-size: 40px;
    }
    h4 {
        font-size: 30px;
    }
    p {
        font-size: 26px;
    }
    span {
        font-size: 26px;
    }
    .batches {
        padding: 32px 0;
    }
    .batches span {
        font-size: 20px;
    }
    .ingridients div input {
        flex-grow: 0;
        font-size: 26px;
    }
    .ingridients div button {
        flex-grow: 0;
        font-size: 26px;
    }
    .preparation p {
        text-align: left;
        padding: 16px 0;
    }
    .preparation h4 {
        padding: 16px 0;
    }
    .author {
        flex-direction: row;
        justify-content: flex-start;
        gap: 32px;
    }
    .author img {
        height: 200px;
        width: 200px;
    }
    .author span {
        font-size: 30px;
    }
    .icon-time {
        height: 18px;
        width: 18px;
    }
    .icon-brain {
        height: 18px;
        width: 18px;
    }
    .icon-calender {
        height: 18px;
        width: 18px;
    }
}

@media (min-width: 1920px) {
    .content {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    .header-site {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    footer {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
}