section {
    padding: 0px 160px 0px 160px;
}

.section-header {
    display: flex;
    flex-direction: column;
}

.section-header img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

/* Mobile-Version */

@media(max-width: 767px) and (min-width: 320px) {

}

/* Tablet-Version */

@media(max-width: 1280px) and (min-width: 768px) {

}

/* Ultrawide-Version */

@media(max-width: 3440px) and (min-width: 1921px) {
    
}